<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CsvImporter" 
         connectionString="data source=localhost;initial catalog=CsvImporter;persist security info=True;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CsvFilePath" value="C:\Users\USER-PC\source\repos\CsvImporter\data.csv" />
    <add key="DatabaseName" value="CsvImporter" />
  </appSettings>
</configuration>